<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRITO</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <%- include("./partials/header-shop") %>
        <main class="carro container">
            <h1 class="carro__title">CARRITO DE COMPRAS</h1>
            <ul class="carro__col">
                <li>DETALLE DE PRODUCTO</li>
                <li>CANTIDAD</li>
                <li>TOTAL</li>
            </ul>

            <% for (let i = 0; i < productsInCart.length; i++) { %>
                <!-- le pongo el style nada mas para visualizar rapido -->
                <article style="display: block" class="carro__card">
                    <div class="carro__card-content">
                        <picture class="carro__card-img">
                            <img src="/uploads/<%=productos[i].id%>-1.webp" alt="BABY YODA BLUEBALL" />
                        </picture>
                        <div class="carro__card-desc">
                            <h4 class="card-item__title"><%= productos[i].product_name %></h4>
                            <p class="card-item__category">STAR WARS</p>
                            <p class="card-item__price">precio: <%= productos[i].price %></p>
                        </div>
                    </div>
                    <div class="carro__card-quantity">
                        <input type="number" class="quantity" value="<%=productsInCart[i].quantity%>" min="1">
                        <!-- hacer que funcionen los increment y decrement -->
                        <button class="increment">+</button>
                        <button class="decrement">-</button>
                    </div>
                    <p class="carro__card-total">$ <%= 
                        productos.find(producto => producto.id == productsInCart[i].ProductId).price * productsInCart[i].quantity %></p>
                    <button class="carro__card-cancel">x</button>
                </article>
                <% } %>

                <section class="carro__resumen">
                    <h2 class="carro__resumen-title">RESUMEN</h2>
                    <div class="carro__resumen-items">
                        <div class="carro__resumen-item">
                            <p>CANTIDAD DE ELEMENTOS</p>
                            <p><%= productsTotalQty %></p>
                        </div>
                        <div class="carro__resumen-item">
                            <p>SUBTOTAL</p>
                            <p>$ <%= subTotalPrice %></p>
                        </div>
                        <div class="carro__resumen-item">
                            <p>ENVIO</p>
                            <p>$ 0,00</p>
                        </div>
                        <div class="carro__resumen-item carro__resumen-total">
                            <p>TOTAL</p>
                            <p>$ <%= subTotalPrice + envioPrice %></p>
                        </div>
                    </div>

                    <form action="/shop/cart" method="post">
                        <button type="submit" class="ir-a-pagar">IR A PAGAR</button>
                    </form>
            </section>
        </main>
        <%- include("./partials/footer-shop") %>
</body>

</html>