<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRITO</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <%- include("./partials/header-shop") %>
        <main class="carro container">
            <h1 class="carro__title">CARRITO DE COMPRAS</h1>
            <h2 class="mainlogin__title">Tu carrito se encuentra vacío... Pero puedes llenarlo con los siguientes
                productos!</h2>

            <h3 class="slider__title">ÚLTIMOS LANZAMIENTOS</h3>
            <ul class="slider__item">
                <% for (let i=0; i < productosRecientes.length; i++) { %>
                    <li class="slider__item">
                        <article class="card-item">
                            <a class="card-item__link" href="./item/<%= productosRecientes[i].id %>">
                                <picture class="card-item__cover">
                                    <span class="card-item__tag">Nuevo</span>
                                    <% if (productosRecientes[i] && productosRecientes[i].id) { %>
                                        <img class="card-item__img--front"
                                            src="/uploads/<%= productosRecientes[i].id %>-1.webp"
                                            alt="Figura coleccionable <%= productosRecientes[i].product_name.toUpperCase() %>" />
                                        <img class="card-item__img--back"
                                            src="/uploads/<%= productosRecientes[i].id %>-box.webp"
                                            alt="Figura coleccionable <%= productosRecientes[i].product_name.toUpperCase() %>">
                                        <% } else { %>
                                            <!-- item por defecto si no se encuentra productosRecientes[i] o sus atributos por un imprevisto -->
                                            <img class="card-item__img--front" src="/uploads/default.webp"
                                                alt="Imagen por defecto" />
                                            <% } %>
                                </picture>
                                <div class="card-item__content">
                                    <% if (productosRecientes[i] && productosRecientes[i].CategoryId) { %>
                                        <p class="card-item__licence">
                                            <%= ((categorias.find(categoria=> categoria.id ===
                                                productosRecientes[i].CategoryId))?.category_name).toUpperCase() %>
                                        </p>
                                        <% } else { %>
                                            <p class="card-item__licence">Sin Categoría</p>
                                            <% } %>
                                                <% if (productosRecientes[i] && productosRecientes[i].product_name) { %>
                                                    <h4 class="card-item__name">
                                                        <%= productosRecientes[i].product_name.toUpperCase() %>
                                                    </h4>
                                                    <% } else { %>
                                                        <h4 class="card-item__name">Sin Nombre</h4>
                                                        <% } %>
                                                            <% if (productosRecientes[i] && productosRecientes[i].price)
                                                                { %>
                                                                <p class="card-item__price">$<%=
                                                                        productosRecientes[i].price %>
                                                                </p>
                                                                <% } else { %>
                                                                    <p class="card-item__price">Precio Desconocido</p>
                                                                    <% } %>
                                                                        <% if (productosRecientes[i] &&
                                                                            productosRecientes[i].dues) { %>
                                                                            <p class="card-item__promo">
                                                                                <%= productosRecientes[i].dues.toUpperCase()
                                                                                    %>
                                                                            </p>
                                                                            <% } else { %>
                                                                                <p class="card-item__promo">Promoción
                                                                                    Desconocida</p>
                                                                                <% } %>
                                </div>
                            </a>
                        </article>
                    </li>
                    <% } %>
        </main>
        <%- include("./partials/footer-shop") %>
</body>

</html>