<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITEM</title>
    <link rel="icon" type="image/svg+xml" href="/img/branding/isotype.svg">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <%- include("./partials/header-shop") %>
        <main class="main">
            <section class="destacado">
                <article>
                    <h3 class="destacado__h3"><%- (producto.product_name).toUpperCase() %></h3>
                    <p class="destacado__desc">
                        <%- producto.product_description %>
                    </p>
                    <p class="destacado__precio">$ <%- producto.price %></p>
                    <form id="addToCartForm" action="/shop/item/<%- producto.id %>/add" method="post">
                        <div class="destacado__controls">
                            <button class="destacado__quantity-button" data-action="decrease">-</button>
                            <input name="quantity" class="destacado__quantity-input" type="number" value="1">
                            <button class="destacado__quantity-button" data-action="increase">+</button>
                            <button type="submit" class="destacado__add-to-cart">Agregar al carrito</button>
                        </div>
                    </form>
                    <a href="#" class="destacado__payment-link">Ver método de pago </a>
                    <p><%- (producto.dues).toUpperCase() %></p>
                </article>
                <picture>
                    <img src="/uploads/<%=producto.id%>-1.webp"
                        alt="Figura coleccionable Funko de <%=producto.product_name%> de la serie <%=categoria.category_name%>" />
                </picture>
            </section>

            <h4>PRODUCTOS RELACIONADOS</h4>
            <section class="news">
                <%productosRelacionados.forEach(producto=> { %>
                    <article class="news__card">
                        <a href="./<%=producto.id%>">
                            <picture>
                                <img src="/uploads/<%=producto.id%>-1.webp"
                                    alt="<%= (producto.product_name).toUpperCase() %>" />
                            </picture>
                            <div>
                                <p>
                                    <%= (categoria.category_name).toUpperCase() %>
                                </p>
                                <h4>
                                    <%= (producto.product_name).toUpperCase() %>
                                </h4>
                                <p>$ <%= producto.product_price %>
                                </p>
                                <p>
                                    <%= producto.dues %>
                                </p>
                            </div>
                        </a>
                    </article>
                    <% }) %>

        <%- include("./partials/footer-shop") %>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const addToCartForm = document.getElementById('addToCartForm');

        addToCartForm.addEventListener('submit', function (e) {
            e.preventDefault();

            const quantityValue = parseInt(document.querySelector('.destacado__quantity-input').value);
            fetch('/shop/item/<%= producto.id %>/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: quantityValue })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const mensajeElemento = document.createElement('div');
                    mensajeElemento.innerHTML = 'Añadido al carrito exitosamente';

                    const contenedor = document.querySelector('.destacado');
                    contenedor.insertBefore(mensajeElemento, contenedor.firstChild);

                    setTimeout(function () {
                        mensajeElemento.remove();
                    }, 4000);

                } else {
                    console.error('Error al agregar el producto al carrito', data.error);
                }})
            .catch(error => {
                console.error('Error al agregar el producto al carrito', error);
            });

            addToCartForm.reset();
        });
    });
    </script>
    
</body>

</html>