<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITEM</title>
    <link rel="icon" href="/isotype.ico">
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.min.css">
</head>

<body>
    <%- include("./partials/header-shop") %>
        <main class="mainitem container">
            <section class="destacado">
                <article class="destacado__card-item">
                    <picture class="destacado__img collection__cover">
                        <img class="card-item__img--front" src="/uploads/<%=producto.id%>-1.webp"
                            alt="Figura coleccionable Funko de <%=producto.product_name%> de la serie <%=categoria.category_name%>" />
                    </picture>
                    <div class="destacado__desc">
                        <p class="card-item__licence">
                            <%- (categoria.category_name).toUpperCase() %>
                        </p>
                        <h3 class="destacado__title"><%- (producto.product_name).toUpperCase() %></h3>
                        <p class="destacado__p">
                            <%- producto.product_description %>
                        </p>
                        <p class="destacado__price">$ <%- producto.price %></p>

                        <% if (producto.stock> 0) { %>
                            <form id="addToCartForm" action="/shop/item/<%- producto.id %>/add" method="post">
                                <div class="destacado__controls">
                                    <div class="controls-quantity">
                                        <input name="quantity" class="quantity-input" type="number" value="1" min="1"
                                            max="<%- producto.stock %>">
                                        <button type="button" class="quantity-button" data-action="increase">+</button>
                                        <button type="button" class="quantity-button" data-action="decrease">-</button>
                                    </div>
                                    <button type="submit" class="btn-add btn-ingresar">Agregar al carrito</button>
                                </div>
                            </form>
                            <p>Disponible en stock: <%- producto.stock %></p>
                            <div class="destacado__pagos">
                                <a href="#" class="destacado__payment-link">Ver método de pago</a>
                                <p><%- (producto.dues).toUpperCase() %></p>
                            </div>
                            <% } else {%>
                                <p>SIN STOCK DISPONIBLE</p>
                                <% } %>
                    </div>
                </article>
            </section>
            <h4 class="slider__title">PRODUCTOS RELACIONADOS</h4>
            <section
                class="container swiffy-slider slider-item-show3 slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-slow slider-item-first-visible">
                <div class="slider-container">
                    <%productosRelacionados.forEach(producto=> { %>
                        <article class="slider-visible">
                            <div class="card shadow h-100">
                                <span class="card-item__tag">Nuevo</span>
                                <picture class="ratio card-item__cover">
                                    <img class="card-item__img--front" src="/uploads/<%=producto.id%>-1.webp"
                                        alt="<%= (producto.product_name).toUpperCase() %>" />
                                    <img class="card-item__img--back" src="/uploads/<%=producto.id%>-box.webp"
                                        alt="<%= (producto.product_name).toUpperCase() %>" />
                                </picture>
                                <a href="./<%=producto.id%>">
                                    <div class="card-item__content">
                                        <p class="card-item__licence">
                                            <%= (categoria.category_name).toUpperCase() %>
                                        </p>
                                        <h4 class="card-item__name">
                                            <%= (producto.product_name).toUpperCase() %>
                                        </h4>
                                        <p class="card-item__price">$ <%= producto.price %>
                                        </p>
                                        <p class="card-item__promo">
                                            <%= producto.dues %>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <button type="button" class="slider-nav" aria-label="Go left"></button>
                <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
                <div class="slider-indicators">
                    <button class="active" aria-label="Go to slide"></button>
                    <button aria-label="Go to slide"></button>
                    <button aria-label="Go to slide"></button>
                    <button aria-label="Go to slide"></button>
                    <button aria-label="Go to slide"></button>
                </div>
            </section>
        </main>
        <%- include("./partials/footer-shop") %>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    //Manejar increase y decrease de qty
                    const qtyInput = document.querySelector('.quantity-input');
                    const increaseBtn = document.querySelector('[data-action="increase"]');
                    const decreaseBtn = document.querySelector('[data-action="decrease"]');

                    console.log("decrease y encrease: ", decreaseBtn, increaseBtn)

                    increaseBtn.addEventListener('click', function () {
                        incrementQty();
                    });

                    decreaseBtn.addEventListener('click', function () {
                        decrementQty();
                    });

                    function incrementQty() {
                        const currentValue = parseInt(qtyInput.value);
                        qtyInput.value = currentValue + 1;
                    }

                    function decrementQty() {
                        const currentValue = parseInt(qtyInput.value);
                        if (currentValue > 0) {
                            qtyInput.value = currentValue - 1;
                        }
                    }
                    ;
                    //Manejar cartel dinamico de producto anadido al carrito
                    const addToCartForm = document.getElementById('addToCartForm');

                    addToCartForm.addEventListener('submit', function (e) {
                        e.preventDefault();

                        const quantityValue = parseInt(document.querySelector('.quantity-input').value);
                        fetch('/shop/item/<%= producto.id %>/add', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ quantity: quantityValue })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    const mensajeElemento = document.createElement('div');
                                    mensajeElemento.innerHTML = 'Añadido al carrito exitosamente';

                                    const contenedor = document.querySelector('.destacado');
                                    contenedor.insertBefore(mensajeElemento, contenedor.firstChild);

                                    setTimeout(function () {
                                        mensajeElemento.remove();
                                    }, 4000);

                                } else {
                                    console.error('Error al agregar el producto al carrito', data.error);
                                }
                            })
                            .catch(error => {
                                console.error('Error al agregar el producto al carrito', error);
                            });

                        addToCartForm.reset();
                    });
                });
            </script>
            <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
                crossorigin="anonymous" defer></script>
</body>

</html>