<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>

    <%- include("../../partials/header-admin") %>
        <main class="mainadmin container">
            <div class="search-bar">
                <img src="../../../../img/icons/search_icon.svg" alt="Icono de búsqueda" class="search-icon" />
                <input type="text" id="searchInput" placeholder="código, nombre o categoría" />
            </div>
            <div class="product-list">
                <a href="/admin/categories/create">
                <div class="product-list__add">
                    <h2 class="product-list__title">LISTADO DE CATEGORÍAS</h2>
                    <button class="product-list__add-button">AGREGAR<span class="plus-sign">+</span></button>
                </div>
                </a>
                <table class="product-list__table">
                    <thead>
                        <tr class="product-list__tr">
                            <th>ID</th>
                            <th class="product-list__name">Nombre de la categoría</th>
                            <th class="product-list__category">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (let i = 0; i < idCategorias.length; i++) { %>
                            <tr class="product-list__tbody">
                                <td class="product-list__id"><%= idCategorias[i] %></td>
                                <td><%= nombresCategorias[i] %></td>
                                <td><%= descripcionCategorias[i] %></td>
                                <td><a href="/admin/categories/edit/<%= idCategorias[i] %>"> <img src="../../../../img/icons/edit_pencil.svg" alt="EDITAR" class="editar"></a></td>
                                <td>
                                    <form class="form-delete" action="/admin/categories/delete/<%= idCategorias[i] %>?_method=DELETE" method="post">
                                        <button type="submit"><img src="../../../../img/icons/delete_trash.svg" alt="ELIMINAR" class="eliminar"></button>
                                    </form>
                                </td> 
                            </tr>
                        <% } %>

                    </tbody>
                </table>
                <button><a href="/admin/">Listado de Productos -></a></button>
            </div>
        </main>
        <%- include("../../partials/footer-admin") %>

        <script>
            document.addEventListener("submit", (event) => {
                if (event.target.classList.contains("form-delete")) {
                  event.preventDefault();

                  if (confirm("¿Eliminar elemento?")) {
                    event.target.submit();
                  }
                }
            });
        </script>
</body>

</html>