<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>
    <%- include("../../partials/header-admin") %>
        <form class="container" action="/admin/edit/<%- category.id%>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="create-grid">
                <div class="create-row">
                    <h1 class="create-title">EDITAR CATEGORÍA</h1>
                </div>
                <%- include("../../partials/errors") %>
                <div class="create-row">
                    <label for="categoria">Categoría:</label>
                    <select id="categoria" name="categoria">
                        <option value="opcion1">Seleccionar</option>
                        <option value="opcion2">Opción 1</option>
                        <option value="opcion3">Opción 2</option>
                    </select>
                    <label for="licencia">Licencia:</label>
                    <select id="licencia" name="licencia">
                        <option value="opcion1">Seleccionar</option>
                        <option value="opcion2">Opción 1</option>
                        <option value="opcion3">Opción 2</option>
                    </select>
                </div>
                <div class="create-row">
                    <label for="nombre">Nombre del producto:</label>
                    <input class="log-input" type="text" id="nombre" name="product_name" placeholder="Inserta el nombre del producto" value="<%- producto.product_name%>">
                </div>
                <div class="create-row">
                    <input class="desc-input" type="text" id="descripcion" name="product_description"
                        placeholder="Inserta la descripción del producto." value="<%- producto.product_description%>">
                </div>
                <div class="create-row">
                    <label for="sku">SKU:</label>
                    <input class="create-input log-input" type="text" id="sku" name="sku" placeholder="Insertar SKU" value="<%- producto.sku%>">
                    <label for="precio">Precio:</label>
                    <input class="create-input log-input" type="text" id="precio" name="price"
                        placeholder="Insertar precio" value="<%- producto.price%>">
                    <label for="stock">Stock:</label>
                    <input class="create-input log-input" type="text" id="stock" name="stock" placeholder="Insertar stock" value="<%- producto.stock%>">
                </div>
                <div class="create-row">
                    <!-- ToDo: añadir descuento, cuotas e imgs desde la db-->
                    <label for="descuento">Descuento:</label>
                    <input class="create-input log-input" type="text" id="descuento" name="descuento" placeholder="10%">
                    <label for="cuotas">Cuotas:</label>
                    <select id="cuotas" name="cuotas">
                        <option value="opcion1">3 Cuotas sin interés</option>
                        <option value="opcion2">6 Cuotas</option>
                        <option value="opcion3">12 Cuotas</option>
                    </select>
                </div>
                <div class="create-row">
                    <label for="imagenes">Imagen de frente:</label>
                    <input type="file" id="imagenes" name="imagenes" accept="image/*">
                    <label for="imagenes">Imagen de dorso:</label>
                    <input type="file" id="imagenes" name="imagenes" accept="image/*">
                </div>
                <picture class="create-row">
                    <figure class="img-edit">
                        <img src="/img/naruto/kakashi-hatake.png"
                            alt="Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden">
                        <figcaption>Frente</figcaption>
                    </figure>
                    <figure class="img-edit">
                        <img src="/img/naruto/kakashi-hatake-dorso.webp" alt="Dorso de Kakashi Hatake">
                        <figcaption>Dorso</figcaption>
                    </figure>
                </picture>
                <div class="create-row">
                    <button class="btn-ingresar" type="submit" id="agregar">Modificar Categoría</button>
                </div>
            </div>
        </form>
        <%- include("../../partials/footer-admin") %>
</body>

</html>