<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Funkoshop utilizando Nodejs + Alwaysdata">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://challenge-integrador-beige.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home | Funkoshop">
    <meta property="og:description" content="Funkoshop utilizando Nodejs + Alwaysdata">
    <meta property="og:image" content="">

    <title>Home | Funkoshop</title>
    <link rel="icon" type="image/svg+xml" href="/img/branding/isotype.svg">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Quicksand:wght@300;500;700&family=Raleway:wght@500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("../partials/header-shop.ejs") %>
        <section class="hero">
            <article class="hero__content">
                <h3 class="hero__title">Nuevos Ingresos</h3>
                <p class="hero__text">Descubrí el próximo Funko Pop de tu colección</p>
                <a class="hero__link" href="/shop">SHOP</a>
            </article>
        </section>
        <main class="main-container">
            <section class="collection container">
                <article class="collection__content">
                    <h3 class="collection__title">STAR WARS & THE MANDALORIAN</h3>
                    <p class="collection__text">
                        Disfruta de una saga que sigue agregando personajes a su colección.
                    </p>
                    <a class="collection__link" href="/shop?categoria=1">VER COLECCIÓN</a>
                </article>
                <picture class="collection__cover">
                    <img src="/img/star-wars/baby-yoda-1.webp"
                        alt="Figura coleccionable Funko de Grogu de la serie The Mandalorian" />
                </picture>
            </section>
            <section class="collection container">
                <article class="collection__content">
                    <h3 class="collection__title">POKEMON INDIGO</h3>
                    <p class="collection__text">
                        Atrapa todos los que puedas y disfruta de una colección llena de
                        amigos.
                    </p>
                    <a class="collection__link" href="/shop?categoria=2">VER COLECCIÓN</a>
                </article>
                <picture class="collection__cover">
                    <img src="/img/pokemon/vulpix-1.webp"
                        alt="Figura coleccionable Funko de Vulpix de la serie Pokemon" />
                </picture>
            </section>
            <section class="collection container">
                <article class="collection__content">
                    <h3 class="collection__title">HARRY POTTER</h3>
                    <p class="collection__text">Revive los recuerdos de una saga llena de magia y encanto.</p>
                    <a class="collection__link" href="/shop?categoria=3">VER COLECCIÓN</a>
                </article>
                <picture class="collection__cover">
                    <img src="/img/harry-potter/snape-patronus-1.webp"
                        alt="Figura coleccionable Funko del Patronus de Snape en la película de Harry Potter" />
                </picture>
            </section>

            <section class="swiper-container">
                <div class="swiper-wrapper">
                    <% for (let i=0; i < productosRecientes.length; i++) {%>
                            <article class="swiper-slide card__item">
                                <a class="card-item__link" href="./shop/item/<%= productosRecientes[i].id %>">
                                    <picture class="card-item__cover">
                                        <span class="card-item__tag">Nuevo</span>
                                        <% if (productosRecientes[i] && productosRecientes[i].id) { %>
                                            <img class="card-item__img--front"
                                                src="/uploads/<%= productosRecientes[i].id %>-1.webp"
                                                alt="Figura coleccionable <%= productosRecientes[i].product_name.toUpperCase() %>" />
                                            <img class="card-item__img--back"
                                                src="/uploads/<%= productosRecientes[i].id %>-box.webp"
                                                alt="Figura coleccionable <%= productosRecientes[i].product_name.toUpperCase() %>">
                                            <% } else { %>
                                                <!-- item por defecto si no se encuentra productosRecientes[i] o sus atributos por un imprevisto -->
                                                <img class="card-item__img--front" src="/uploads/default.webp"
                                                    alt="Imagen por defecto" />
                                                <% } %>
                                    </picture>
                                    <div class="card-item__content">
                                        <% if (productosRecientes[i] && productosRecientes[i].CategoryId) { %>
                                            <p class="card-item__licence">
                                                <%= ((categorias.find(categoria=> categoria.id ===
                                                    productosRecientes[i].CategoryId))?.category_name).toUpperCase() %>
                                            </p>
                                            <% } else { %>
                                                <p class="card-item__licence">Sin Categoría</p>
                                                <% } %>
                                                    <% if (productosRecientes[i] && productosRecientes[i].product_name)
                                                        { %>
                                                        <h4 class="card-item__name">
                                                            <%= productosRecientes[i].product_name.toUpperCase() %>
                                                        </h4>
                                                        <% } else { %>
                                                            <h4 class="card-item__name">Sin Nombre</h4>
                                                            <% } %>
                                                                <% if (productosRecientes[i] &&
                                                                    productosRecientes[i].price) { %>
                                                                    <p class="card-item__price">$<%=
                                                                            productosRecientes[i].price %>
                                                                    </p>
                                                                    <% } else { %>
                                                                        <p class="card-item__price">Precio Desconocido
                                                                        </p>
                                                                        <% } %>
                                                                            <% if (productosRecientes[i] &&
                                                                                productosRecientes[i].dues) { %>
                                                                                <p class="card-item__promo">
                                                                                    <%= productosRecientes[i].dues.toUpperCase()
                                                                                        %>
                                                                                </p>
                                                                                <% } else { %>
                                                                                    <p class="card-item__promo">
                                                                                        Promoción
                                                                                        Desconocida</p>
                                                                                    <% } %>
                                    </div>
                                </a>
                            </article>
                            <% } %>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                </section>
            </main>
        <%- include("../partials/footer-shop.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                const swiper = new Swiper('.swiper-container', {
                    slidesPerView: 4,
                    spaceBetween: 10,
                    breakpoints: {
                        480: {
                            slidesPerView: 1,
                            spaceBetween: 30
                        },
                        980: {
                            slidesPerView: 3,
                            spaceBetween: 40
                        }
                    }
                })
            </script>
</body>

</html>